<a href="https://colab.research.google.com/github/Drogers63/Homework-skilldrills/blob/main/D_Rogers_ZillowHousingPrices_SparkSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import os
# Find the latest version of spark 3.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.1'
spark_version = 'spark-3.1.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 88.7 kB in 2s (35.6 kB/s)
Reading package lists... Done

In [54]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2021-05-02 19:26:17--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar.4’

postgresql-42.2.9.j 100%[===================>] 892.61K  --.-KB/s    in 0.08s

2021-05-02 19:26:17 (10.5 MB/s) - ‘postgresql-42.2.9.jar.4’ saved [914037/914037]

In [55]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Zillow Housing Prices").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [62]:
# Read in data from S3 Bucket
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-netflix/unit-7/zillow_housing_prices.csv"
spark.sparkContext.addFile(url)
Zillow_housing_df = spark.read.option('header','true').csv(SparkFiles.get("zillow_housing_prices.csv"),inferSchema=True, sep=",", timestampFormat = "mm/dd/yy")

In [63]:
#Create a temp view of your dataframe
Zillow_housing_df.createOrReplaceTempView('prices')

In [67]:
# Cast 2020-01 column as float and display the average price per state using Spark SQL
spark.sql('''select StateName, sum(cast(`2020-01` as float))/count(`2020-01`) as averagePrice from prices group by StateName''').show()

+--------------------+------------------+
|           StateName|      averagePrice|
+--------------------+------------------+
|                Utah|          345200.0|
|              Hawaii|         572868.75|
|           Minnesota|256823.59550561797|
|                Ohio| 179073.9393939394|
|              Oregon| 342466.6666666667|
|            Arkansas|162611.42857142858|
|               Texas|266331.35135135136|
|        North Dakota|230916.66666666666|
|        Pennsylvania|246516.66666666666|
|         Connecticut|291745.28301886795|
|            Nebraska|191727.27272727274|
|              Nevada|          327370.0|
|          Washington|438228.30188679247|
|            Illinois| 234485.7142857143|
|            Oklahoma|162641.93548387097|
|District of Columbia|          580100.0|
|            Delaware| 276073.6842105263|
|          New Mexico|          215550.0|
|       West Virginia|          179200.0|
|            Missouri|206980.26315789475|
+--------------------+------------------+
only showing top 20 rows

In [70]:
# Repeat the same cast and average price for the month of February or 2020-02 using SparkSQL
spark.sql('''select StateName, sum(cast(`2020-02` as float))/count(`2020-02`) as SQLAVG from prices group by StateName''').show()

+--------------------+------------------+
|           StateName|            SQLAVG|
+--------------------+------------------+
|                Utah|  347562.962962963|
|              Hawaii|          592525.0|
|           Minnesota|261769.76744186046|
|                Ohio|182818.30065359478|
|              Oregon|348658.82352941175|
|            Arkansas|165128.57142857142|
|               Texas| 269829.6703296703|
|        North Dakota|          232660.0|
|        Pennsylvania| 250119.6261682243|
|         Connecticut| 297518.8679245283|
|            Nebraska|          198640.0|
|              Nevada|          327770.0|
|          Washington| 439433.3333333333|
|            Illinois|232948.19277108434|
|            Oklahoma|165754.83870967742|
|District of Columbia|          575700.0|
|            Delaware| 285189.4736842105|
|          New Mexico|          228962.5|
|       West Virginia|          184400.0|
|            Missouri|209020.83333333334|
+--------------------+------------------+
only showing top 20 rows

In [72]:
# Repeat the same cast and average price per state for the month of February, but filter out any states with greater than $200000 average price
less_200K = spark.sql('''with February as 
                  (select StateName, 
                  sum(cast(`2020-02` as float))/count(`2020-02`) as SQLAVG 
                  from prices group by StateName)
                  select * from February where SQLAVG <= 200000''')
less_200K.show()

+-------------+------------------+
|    StateName|            SQLAVG|
+-------------+------------------+
|         Ohio|182818.30065359478|
|     Arkansas|165128.57142857142|
|     Nebraska|          198640.0|
|     Oklahoma|165754.83870967742|
|West Virginia|          184400.0|
|         Iowa|        184290.625|
|     Kentucky|          184020.0|
|    Louisiana|196130.30303030304|
|  Mississippi|         180293.75|
|      Indiana|192643.83561643836|
+-------------+------------------+

In [75]:
# Convert your SparkSQL dataframe into a Pandas dataframe and save your Pandas dataframe into a CSV file
under_200K = less_200K.toPandas()
under_200K
under_200K.to_csv("under_200k.csv")